html {
  scroll-behavior: smooth !important;
  overflow-y: scroll;
}
body {
  background-color: rgba(53, 83, 38, 0.1);
}
p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(0, 82, 18);
}
h6 {
  color: antiquewhite;
}
.card {
  font-weight: bold;
}
.img-top {
  opacity: 0;
}
.card .img-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
}

.front {
  transition: opacity 0.3s ease-in-out;
}

.card:hover .front {
  opacity: 0;
}
.card:hover .img-top {
  opacity: 1;
}
.card:active .front {
  opacity: 1;
}
.card:active .img-top {
  opacity: 0;
}

.send-back {
  z-index: -1;
}
.bars {
  width: 100%;
  z-index: 2;
}
.cardo {
  width: 100%;
  height: 65%;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.product-description-box {
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 1.8rem;
  z-index: 3;
}

/* unvisited link */
.sociallinks:link {
  color: black;
}

/* visited link */
.sociallinks:visited {
  color: rgb(0, 0, 0);
}

.sociallinks:hover {
  color: rgb(41, 41, 41);
}

.sociallinks:active {
  color: rgb(114, 114, 114);
}

div p {
  display: block;
  text-align: center;
  font-size: large;
  font-weight: bolder;
  text-decoration: none;
  color: #f1f1f1;
}
a:link {
  text-decoration: none;
}

.botnav {
  overflow: hidden;
  background-color: #333;
  width: 25%;
}

.botnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.greenbg {
  background-color: rgb(124, 153, 130);
}
.vlgreenbg {
  background-color: rgba(179, 157, 150, 0.897);
}

.botnav a:hover {
  background: #f1f1f1;
  color: black;
}

.botnav a.active {
  background-color: #04aa6d;
  color: white;
}
.hide-me[aria-expanded="true"] {
  display: none;
}

.btn-bd-primary {
  font-weight: 600;
  color: white;
  background-color: rgb(0, 156, 0);
  border-color: rgba(0, 141, 0, 0.582);
  border-radius: 0.5rem;
  padding: 0.25 rem;
  font-size: 1 rem;
}
.gry {
  color: grey;
  font-size: smaller;
}

.a {
  display: flex;
  padding: 1em;
}

.b {
  display: block;
  margin-right: 0;
  flex: 0 0 calc(100% / 3);
}

.dark-colorfont {
  color: rgb(231, 202, 169);
}
.light-colorfont {
  color: rgb(53, 83, 38);
}
/* css part for sub pages*/
/*no diplay for text*/
.nodisp {
  display: none;
}

/*click reveal for pic 1*/
#pic1 {
  display: none;
}
#txt1 {
  display: none;
}

#pic1:target {
  display: inline;
}

#txt1:target {
  display: inline;
}
/*click reveal for pic 2*/
#pic2 {
  display: none;
}

#pic2:target {
  display: inline;
}
/*click reveal for pic 3*/
#pic3 {
  display: none;
}

#pic3:target {
  display: inline;
}
/*click reveal for pic 4*/
#pic4 {
  display: none;
}

#pic4:target {
  display: inline;
}
/*click reveal for pic 5*/
#pic5 {
  display: none;
}

#pic5:target {
  display: inline;
}
/*click reveal for pic 6*/
#pic6 {
  display: none;
}

#pic6:target {
  display: inline;
}
/*click reveal for pic 7*/
#pic7 {
  display: none;
}

#pic7:target {
  display: inline;
}
/*click reveal for pic 8*/
#pic8 {
  display: none;
}

#pic8:target {
  display: inline;
}
/*click reveal for pic 9*/
#pic9 {
  display: none;
}

#pic9:target {
  display: inline;
}
/*click reveal for pic 10*/
#pic10 {
  display: none;
}

#pic10:target {
  display: inline;
}
@media screen and (max-width: 500px) {
  .sizechange {
    width: 100%;
    height: auto;
  }
  .other-site-font {
    font-size: smaller;
    margin-top: 0%;
  }
}
.other-site-font {
  color: black;
  text-align: left;
  font-weight: normal;
}
